# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Firebase related (your existing entries)
firebase.json
lib/firebase_options.dart

# Android related
*.apk
*.aab
*.keystore
*.jks
/android/app/google-services.json
/android/key.properties
/android/.project
/android/.classpath
/android/.settings/
/android/app/src/debug/
/android/app/src/profile/
/android/app/src/release/
/android/local.properties
/android/gradle/wrapper/gradle-wrapper.properties

# iOS related
*.app
*.ipa
*.dSYM.zip
*.dSYM
/Pods/
/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework
/ios/Flutter/Generated.xcconfig
/ios/Flutter/ephemeral/
/ios/Flutter/flutter_export_environment.sh
/ios/ServiceDefinitions.json
/ios/Runner/GeneratedPluginRegistrant.*
/ios/Podfile.lock
/ios/Podfile
/ios/.symlinks/
/ios/Flutter/podhelper.rb
/ios/Flutter/Flutter.podspec
/ios/GoogleService-Info.plist

# macOS related
*.dSYM
*.app
*.framework
*.pkg
*.kext
*.dmg
.DS_Store
/.vagrant/
/sentry/
/Packages/
/*.xcodeproj
/*.xcworkspace
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
build/
DerivedData/
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
profile/
~/Library/
/ios/.vscode/
.metadata

# Web related
/build/web/
/.dart_tool/
.packages
pubspec.lock
/ios/.symlinks/
/pubspec_overrides.yaml

# Windows related
/windows/flutter/generated_plugins.cmake
/windows/flutter/generated_plugin_registrant.cc
/windows/flutter/generated_plugin_registrant.h
/windows/runner/debug_quickstart.exe
/windows/runner/Generated_Plugins/
/windows/runner/Runner.exe
/windows/runner/Runner.pdb
/windows/runner/Runner.exp
/windows/runner/Runner.lib
/build/windows/
/win-debug/
/win-release/

# Linux related
/linux/flutter/generated_plugins.cmake
/linux/flutter/generated_plugin_registrant.cc
/linux/flutter/generated_plugin_registrant.h
/build/linux/
/linux/debug/
/linux/release/

# Environment files
.env
.env.local
.env.production
.env.development
*.env
*.env.*
!.env.example